
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

body{
  margin: 0;
  background: url("https://cdn.pixabay.com/photo/2018/02/02/22/49/background-3126537__340.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-size: cover;
}

h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
}

.clock{
  display: flex;
}

.clock div{
  margin: 5px;
  position: relative;
}

.clock span{
  width: 100px;
  height: 80px;
  background: salmon;
  opacity: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px black;
}

.clock .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkcyan;
  opacity: 80%;
}

.clock #ampm{
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: gray;
}

.date{
  display: flex;
}

.date div{
  margin: 5px;
  position: relative;
}

.date span{
  width: 120px;
  height: 80px;
  background: rgb(155, 114, 250);
  opacity: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px black;
}

.date .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(210, 75, 29);
  opacity: 80%;
}
